body {
	background: #F5F5F5;
	color: #1D1D1F;
}

.container-contacts {
	max-width: 1000px;
}

.content-page .head {
	text-align: left;
	font-size: 44px;
	font-weight: 500;
}

.cotacts-page__peoples {
	width: 550px;
	height: 300px;
	padding: 31px;
	background: #fff;
	position: relative;
	font-family: 'Montserrat';
}

.contacts-page__title {
	position: absolute;
	top: -35px;
	left: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
}

.contacts__container {
	display: flex;
	justify-content: space-between;
	margin: 100px 0 100px 0;
	max-width: 1300px;
}

.contacts-page__peoples-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	margin-top: 0;
	margin-bottom: 14px;
}

.cotacts-page__peoples-hr {
	height: 1px;
	width: 562px;
	background: #D9D9D9;
	margin: 50px 0;
}

.cotacts-page__peoples-text {
	width: 420px;
	margin: 0;
}

.cotacts-page__peoples-text, .contacts-page__phone {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

.maps {
	max-width: 950px;
	padding: 20px;
	margin: 0 auto;
	background: #FFF;
	border-radius: 6px;
	border: 1px solid #d2d2d7;;
	display: flex;
	justify-content: space-between;
}

.maps h2 {
	font-weight: 500;
}

.corp-adres {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	}

.corp-adres p {
	width: 130px;
	text-align: center;
}

.geo {
	width: 516px;
	height: 396px;
}

.container-contacts div {
	margin-left: 60px;
	position: relative;
}

.container-contacts .mail {
	margin-bottom: 100px;
}

.container-contacts div p {
	font-size: 24px;
	margin-top: 0;
}


.mail:before {
	content: '';
	display: inline-block;
	width: 42px;
	height: 42px;
	background: url('../images/mail.svg');
	position: absolute;
	left: -65px;
	top: -10px;
}

.number1 {
	display: flex;
	margin-top: 120px;
	flex-direction: column;
}

.number1 p {
	margin-top: 0;
}

.number1:before {
	content: '';
	display: inline-block;
	width: 42px;
	height: 42px;
	background: url('../images/call.svg');
	background-repeat: no-repeat;
	position: absolute;
	left: -65px;
	top: -5px;
}

.geo_mobile {
	display: none;
}

@media all and (max-width:790px ) {
	.content-page {
		margin: 10px 5px;
	}

	.content-page {
		height: 100%;
	}

	.maps {
		flex-direction: column;
		padding: 0 10px;
	}

	.content-page h1 {
		margin-left: 40px;
	}

	.geo {
		display: none;
	}

	.geo_mobile {
		display: block;
		width: 320px;
		margin: 0 auto;
	}

	.corp-adres {
		height: 100%;
	}
}

@media all and (max-width:1300px ) {
	.contacts__container {
		flex-direction: column;
		align-items: center;
	}

	.container-contacts .mail {
		margin-bottom: 50px;
	}

	.number1 {
		margin-top: 0;
	}

	.container-contacts {
		margin-bottom: 100px;
	}

	.content-page .head {
		font-size: 34px;
		text-align: center;
	}
}

@media all and (max-width:768px ) {
	.cotacts-page__peoples {
		width: auto;
		padding: 5px;
	}

	.content-page h1 {
		margin-left: 0
	}

	.cotacts-page__peoples-hr {
		width: auto;
	}

	.content-page .head {
		font-size: 24px;
	}

	.contacts-page__title {
		font-size: 14px;
	}

	.contacts-page__peoples-title {
		font-size: 18px;
	}

	.cotacts-page__peoples-text {
		font-size: 14px;
	}

	.cotacts-page__peoples-text {
		width: auto;
	}

	.container-contacts div p {
		font-size: 18px;
	}

	.contacts-page__title {
		top: -60px;
	}
}

@media all and (max-width: 320px ) {
	.geo_mobile {
		left: 10px;
	}
}