body {
	background: #fff;
}

.content {
	height: 100%;
}

.container_doc {
	max-width: 1300px;
	border-radius: 8px;
	margin: 50px auto;
}

.container_doc h1 {
	font-weight: 500;
	font-size: 38px;
	margin-bottom: 30px;
}

.docs {
	background: #E9ECEF;
	padding: 5px 5px 5px 30px;
}

.doc1 {
	margin-top: 0;
	padding-top: 20px;
}

.head-doc {
	font-size: 18px;
	margin-top: 0;
}

.docs a {
	color: #000;
	font-size: 24px;
	border-bottom: 1px solid #000;
	font-weight: 400;
}

.docs a:hover {
	color: #fc4a0a;
	border-bottom: 1px solid #FC865B;
}

.link-pdf:before {
	content: '';
	display: inline-block;
	width: 26px;
	height: 27px;
	background: url(../images/pdf.svg);
	background-repeat: no-repeat;
}

@media all and (max-width:790px ) and (min-width:320px) {
	.container_doc {
	border-radius: 8px;
	margin: 50px 0;
	}
}