body {
	background: #F5F5F5;
}
.content {
	text-align: center;
	width: 90%;
	height: 100%;
	margin: 20px auto;
	background: #fff;
	color: #000;
	border-radius: 5px;
	padding: 30px;
}

.content-page__price-images-container {
	margin: 50px auto;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-page__price-img {
	width: 1200px;
}

p {
	font-size: 18px;
}

.text-price {
	margin: 50px auto 0 auto;
	width: 88%;
}

.head-price h1 {
	font-weight: 100;
	font-size: 48px;
	margin-top: 20px;
	margin-bottom: 20px;
	letter-spacing: 3px;
}

.head-price h2 {
	font-weight: 400;
	margin-top: 10px;
}

.sale {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

.sale h3::before {
	content: '✓';
	display: inline-block;
	width: 18px;
	height: 18px;
	color: #FFC700;
	position: absolute;
	left: -20px;
}

.table_price {
	border-collapse: collapse;
	border-left: 3px solid #F79361;
	border-right: 3px solid #F79361;
	border-bottom: 3px solid #F79361;
	margin: 0 auto;
	box-shadow: 0px 0px 10px rgba(200,200,200,0.5);
 }

.table_price caption {
	background: #F79361; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
	color: white;
	font-style: normal;
	font-size: 26px;
	text-align: center;
	margin: 0;
}

.table_price td, .table_price th {
  	padding: 10px;
}
.table_price th {
  	text-align: left;
  	font-size: 18px;
}
.table_price tr:nth-child(2n) {
  	background: #E5E5E5;
}
.table_price td:last-of-type {
  	text-align: center;
}

.work {
	text-align:left;
	font-weight: 500;
	font-size: 18px;
}

@media all and (max-width:790px ) and (min-width:320px) {
	.table_price {
		width: 100%;
		font-size: 14px;
	}

	.table_price th {
		font-size: 12px;
		padding: 2px;
	}

	.table_price td {
		padding: 6px 0;
		font-size: 12px;
	}

	#ed {
		font-size: 10px;
	}

	.content {
		padding-left: 0;
	}

	.text-price {
		margin-left: 10px
	}

	.sale {
		width: 100%;
		margin-left: 30px;
	}
	.sale h3 {
		font-size: 16px;
	}

}

@media all and (max-width: 1200px) {
	.content-page__price-images-container {

	}

	.content-page__price-img {
		width: 900px;
	}

	.content-page {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media all and (max-width: 900px) {
	.content-page__price-img {
		width: 500px;
	}

	.content-page {
		margin-top: 0
	}
}

@media all and (max-width: 500px) { 
	.content-page__price-img {
		width: 320px;
	}
}
