body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: url('../images/background.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #fff;
}

.logo {
	color: #fff;
	cursor: pointer;
}

.logo h1 {
	font-size: 24px;
}

.logo a:hover {
	color: #FF6F32;
}

.header {
	display: flex;
	justify-content: space-around;
	background: #016CB8;
	font-weight: 700;
	line-height: 24px;
	flex-direction: column;
	padding: 0 12px 12px 12px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	max-width: 1300px;
	width: 1300px;
	margin: 0 auto;
}

.header__cities {
	color: #fff;
	width: 526px;
	user-select: none;
	font-size: 18px;
}

.menu-list {
	list-style: none;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	margin: 0;
	position: relative;
}

.menu-list li {
	margin-left: 40px;
	padding: 12px 26px 9px 26px;
	border: 1px solid #fff;
	background: #fff;
	border-radius: 50px;
}

.menu-list .info {
	position: relative;
}

ul.menu-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-list .info ul li {
	width: 50%;
	margin-top: 5px;
	font-weight: 700;
}

.menu-list a {
	text-decoration: none;
	color: #016CB8;
	transition: .2s;	
	text-align: center;
	line-height: 1;
}

.menu-list a:hover > li::after {
	width: 100%;
	transition: .3s;
}

.menu-list li::after {
	content: '';
	display: block;
	height: 3px;
	width: 0%;
	background: #016CB8	;
	border-radius: 10px;
	transition: .3s;
}

.menu-list .price {
	background: #FFC700;
	border-color: #FFC700;
}

.menu-list a:last-child {
	color: #000;
}

.content {
	font-family: "Montserrat";
	padding: 70px 0 150px 0;
	color: #fff;
}

.content-page {
	max-width: 1300px;
	margin: 70px auto;
}

.content__index {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.55) 0%, rgba(255, 255, 255, 0.132) 100%);
	background-clip: border-box;
}

.content__container {
	margin: 0 auto;
	max-width: 1300px;
	display: flex;
	justify-content: space-between;
}

.content__block-info {
	width: 623px;
	padding: 21px 53px 27px 53px;
	background: #fff;
	border-radius: 13px;
	position: relative;
}

.content__block-info-hr {
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 21px;
	background: #016CB8;
	border-radius: 6px 0px 0px 6px;
}

.content__title-tech, .content__title-sale {
	color:  #016CB8;
	font-weight: 600;
	font-size: 32px;
	line-height: 112.9%;
}

.content__title {
	display: block;
	font-size: 52px;
	font-weight: 700;
	width: 682px;
}

.contet__menu-tech, .contet__menu-sale {
	font-weight: 400;
	font-size: 24px;
	line-height: 112.9%;
	color: rgba(0, 0, 0, 0.7);
}

.footer {
	width: 100%;
	height: 200px;
	background: #0F1029;
	color: #fff;
	display: flex;
	justify-content: space-around;
	color: #595D71;
	align-items: center;
}

.footer .left-block {
	width: 250px;
	text-align: left;
}

.footer .left-block p {
	margin-bottom: 0;
}

.footer .center-block {
	display: flex;
}

.footer .center-block a {
	margin: 0;
	margin-bottom: 2px;
	margin-left: 10px;
	color: #595D71;
	border-left: 1px solid #595D5D;
	padding-left: 8px;
}

.footer .center-block a:first-child {
	border-left: none;
}

.footer .center-block p {
	margin: 0;
}

.right-block {
	width: 250px;
	text-align: center;
}

.burger {
	width: 45px;
	height: 55px;
	display: none;
}

.menu-burger {
	display: none;
}

.pod {
	width: 45px;
	height: 4px;
	background: #fff;
	margin-top: 30px;
	position: relative;
}

.pod-after {
	content: '';
	display: inline-block;
	width: 45px;
	height: 4px;
	background: #fff;
	position: absolute;
	bottom: 115px;
  transition: .15s;
}

.pod-before {
	content: '';
	display: inline-block;
	width: 45px;
	height: 4px;
	background: #fff;
	position: absolute;
	top: 15px;
  transition: .15s;
}

.first{
  transform: translate(-5px, 2px) rotate(45deg);
  transform-origin: right bottom;
  transition: .15s;
}
/* анимация средней полоски */
.middle{
  display: none;
}
/* анимация нижней полоски */
.last{
  transform: translate(-3px, 0px) rotate(-45deg);
  transform-origin: right bottom;
  transition: .15s;
}

.burger .menu-burger {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 99;
}

.burger .menu-burger a li {
	width: 100%;
	padding: 20px 0 20px 0;
	border-top: 1px solid #000;
	background: #fff;
	color: #016CB8;
	font-size: 18px;
	text-align: center;
}

.burger .menu-burger a li:active {
	background: #016CB8;
	color: #fff;
}


@media all and (max-width:930px ) {
	.burger {
		display: block;
	}

	.header {
		position: relative;
	}

	.logo h2 {
		font-size: 22px;
	}

	.menu-list {
		display: none;
	}

	.logo {
		margin-left: 0;
	}

	.footer {
		flex-direction: column;
		align-items: center;
	}

	.footer p {
		font-size: 12px;
	}

	.footer .center-block {
		margin: 20px 0 10px 0;
	}

	.footer .left-block {
		margin: 0 auto;
		width: 150px;
		text-align: center;
	}

	.footer .right-block {
		width: 50%;
	}

	.header {
		flex-direction: row;
	}

	.header__cities-list {
		display: block;
		word-break: break-all;
		width: 300px;
	}

	.header__container {
		display: flex;
		justify-content: flex-start;
	}
}

@media all and (max-width: 720px) {
	.content__block-info {
		width: auto;
	}

	.content__title {
		width: auto;
		font-size: 30px;
		margin: 0 auto;
		text-align: center;
	}

	.content__title-tech, .content__title-sale {
		font-size: 20px;
	}

	.content__tech-item, .contet__menu-sale {
		font-size: 18px;
	}

}

@media all and (max-width: 500px) {
	.logo h1 {
		font-size: 18px;
	}

	.header__cities-list {
		font-size: 14px;
	}

	.content__title {
		font-size: 22px;
	}

	.header__cities-list {
		width: 200px;
	}

	.pod-after {
		bottom: 107px;
	}

	.first {
	  transform: translate(-6px, 3px) rotate(45deg);
	}
}

@media all and (max-width: 320px) {
	.pod-after {
		bottom: 129px;
	}

	.first {
	  transform: translate(-6px, 1px) rotate(45deg);
	}
}


@media all and (max-width: 1300px) {
	.header__container {
		width: 100%;
	}

	.content__container {
		flex-direction: column;
		align-items: center;
	}

	.content__title {
		margin-bottom: 100px
	}

	.header__cities {
		width: auto;
	}
} 