<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/price.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap" rel="stylesheet"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/logo.svg" type="image/png">
	<title>Цены</title>
</head>
<body>
	<div class="header">
        <div class="menu"></div>
        <div class="logo">
            <a href="../index.html">
                <h2>«Горгаз сервис АТК»</h2>
            </a>
        </div>
        <ul class="menu-list">
            <a href="">
                <li class="main">
                    Главная
                </li>
            </a>
            <a href="contacts.html">
                <li class="contacts">
                    Контакты
                </li>
            </a>
            <a href="documents.html">
                <li class="documents">
                    Приложения
                </li>
            </a>
            <a href="about.html">
                <li class="info">О нас
                    <!-- <ul>
                        <a href="#">
                            <li>Приложения</li>
                        </a>
                        <a href="#">
                            <li></li>
                        </a>
                    </ul> -->
                </li>
            </a>
        </ul>
        <div class="contacts"></div>
    </div>
	<div class="content">
	
		<div class="text-price">
			<p>*<u>Цены</u> на оказание услуг по <u>ремонту и сервисному</u> обслуживанию газового оборудования</p>
			<p>*При осуществлении услуг по техническому обслуживанию газового оборудования предоставляются следующие <u>скидки и льготы</u> для физических лиц:</p>
			<div class="sale">
				<h3>
					Ветеранам ВОВ – услуги предоставляются бесплатно.
				</h3>
				<h3>
					Пенсионерам – скидка 10% на все услуги.
				</h3>
				<h3>
					Инвалидам детства – скидка 50% на все услуги.
				</h3>
				<i src></i>
			</div>

			<table border="1" class="table_price">
				<caption>Прайс-лист</caption>
				<tr>
				    <th rowspan="2">№ п/п</th>
				    <th rowspan="2">Выполняемые работы</th>
				    <th rowspan="2">ед. измерения </th>
				    <th colspan="2">
				    	Стоимость/Руб/
				    </th>
			   </tr>
			   <tr>
			  	 	<td>для юридических лиц</td>
				    <td>для физических лиц</td>
			   </tr>
			   <tr>
			  	 	<td></td>
				    <td class="work">Транспорт</td>
				    <td></td>
				    <td></td>
				    <td></td>
			   </tr>
			   <tr>
			  	 	<td>1</td>
				    <td>Выезд сервисного инженера по городу</td>
				    <td>усл</td>
				    <td>200,00</td>
				    <td>200,00</td>
			   </tr>
			   <tr>
			  	 	<td>2</td>
				    <td>Выезд сервисного инженера за город/1км</td>
				    <td>км</td>
				    <td>11,00</td>
				    <td>11,00</td>
			   </tr>
			   <tr>
			  	 	<td>3</td>
				    <td>Выезд сервисного инженера в выходной и/или  праздничный день</td>
				    <td>день</td>
				    <td>600,00</td>
				    <td>600,00</td>
			   </tr>
			   <tr>
			  	 	<td></td>
				    <td class="work">Услуги/Ремонт</td>
				    <td></td>
				    <td></td>
				    <td></td>
			   </tr>
			   <tr>
			  	 	<td>1</td>
				    <td>Демонтаж/монтаж напольного котла со сваркой (при замене на аналогичный без пуско-наладки)</td>
				    <td>усл</td>
				    <td>от 4000,00</td>
				    <td>от 4000,00</td>
			   </tr>
			   <tr>
			  	 	<td>2</td>
				    <td>Демонтаж/монтаж настенного котла со сваркой (при замене на аналогичный без пуско-наладки)</td>
				    <td>усл</td>
				    <td>от 3500,00</td>
				    <td>от 3500,00</td>
			   </tr>
			   <tr>
			  	 	<td>3</td>
				    <td>Диагностика (выявление причины неисправности котла)</td>
				    <td>усл</td>
				    <td>600,00</td>
				    <td>600,00</td>
			   </tr>
			   <tr>
			  	 	<td>4</td>
				    <td>Промывка теплообменника контура отопления настенного котла</td>
				    <td>усл</td>
				    <td>3 000,00</td>
				    <td>3 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>5</td>
				    <td>Промывка контура ГВС настенного котла</td>
				    <td>усл</td>
				    <td>3 000,00</td>
				    <td>3 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>6</td>
				    <td>Промывка теплообменника ГВС и контура отопления настенного котла</td>
				    <td>усл</td>
				    <td>5 000,00</td>
				    <td>5 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>7</td>
				    <td>Промывка битермического теплообменника (контур отопления)</td>
				    <td>усл</td>
				    <td>3 000,00</td>
				    <td>3 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>8</td>
				    <td>Промывка битермического теплообменника (контур ГВС)</td>
				    <td>усл</td>
				    <td>3 000,00</td>
				    <td>3 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>9</td>
				    <td>Замена первичного теплообменника в настенном котле (открытая камера сгорания)</td>
				    <td>усл</td>
				    <td>1 800,00</td>
				    <td>1 800,00</td>
			   </tr>
			   <tr>
			  	 	<td>10</td>
				    <td>Замена первичного телообменника в настенном котле (закрытая камера ссгорания)</td>
				    <td>усл</td>
				    <td>2 100,00</td>
				    <td>2 100,00</td>
			   </tr>
			   <tr>
			  	 	<td>11</td>
				    <td>Замена битермического теплообменника в настенном котле (открытая камера сгорания)</td>
				    <td>усл</td>
				    <td>2 200,00</td>
				    <td>2 200,00</td>
			   </tr>
			   <tr>
			  	 	<td>12</td>
				    <td>Замена битермического теплообменника в настенном котле (закрытая камера сгорания)</td>
				    <td>усл</td>
				    <td>2 300,00</td>
				    <td>2 300,00</td>
			   </tr>
			   <tr>
			  	 	<td>13</td>
				    <td>Замена циркуляционного насоса</td>
				    <td>усл</td>
				    <td>1 000,00</td>
				    <td>1 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>14</td>
				    <td>Замена вентилятора</td>
				    <td>усл</td>
				    <td>960,00</td>
				    <td>960,00</td>
			   </tr>
			   <tr>
			  	 	<td>15</td>
				    <td>Замена датчика тяги</td>
				    <td>усл</td>
				    <td>500,00</td>
				    <td>500,00</td>
			   </tr>
			   <tr>
			  	 	<td>16</td>
				    <td>Замена датчика температуры (накладного)</td>
				    <td>усл</td>
				    <td>500,00</td>
				    <td>500,00</td>
			   </tr>
			   <tr>
			  	 	<td>17</td>
				    <td>Замента датчика температуры (погружного)</td>
				    <td>усл</td>
				    <td>840,00</td>
				    <td>840,00</td>
			   </tr>
			   <tr>
			  	 	<td>18</td>
				    <td>Замена пресостата воздух</td>
				    <td>усл</td>
				    <td>700,00</td>
				    <td>700,00</td>
			   </tr>
			   <tr>
			  	 	<td>19</td>
				    <td>Замена предохранительного клапана</td>
				    <td>усл</td>
				    <td>840,00</td>
				    <td>840,00</td>
			   </tr>
			   <tr>
			  	 	<td>20</td>
				    <td>Замена реле давления теплоносителя</td>
				    <td>усл</td>
				    <td>1 000,00</td>
				    <td>1 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>21</td>
				    <td>Замена реле протока</td>
				    <td>усл</td>
				    <td>1 000,00</td>
				    <td>1 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>22</td>
				    <td>Замена газового клапана (с настройкой по газу)</td>
				    <td>усл</td>
				    <td>1 560,00</td>
				    <td>1 560,00</td>
			   </tr>
			   <tr>
			  	 	<td>23</td>
				    <td>Замена расширительного бака в настенном котле</td>
				    <td>усл</td>
				    <td>от 1100,00</td>
				    <td>от 1100,00</td>
			   </tr>
			   <tr>
			  	 	<td>24</td>
				    <td>Замена электрода розжига</td>
				    <td>усл</td>
				    <td>800,00</td>
				    <td>800,00</td>
			   </tr>
			   <tr>
			  	 	<td>25</td>
				    <td>Замена электрода ионизации</td>
				    <td>усл</td>
				    <td>800,00</td>
				    <td>800,00</td>
			   </tr>
			   <tr>
			  	 	<td>26</td>
				    <td>Замена трасформатора (устройства) розжига</td>
				    <td>усл</td>
				    <td>720,00</td>
				    <td>720,00</td>
			   </tr>
			   <tr>
			  	 	<td>27</td>
				    <td>Замена манометра</td>
				    <td>усл</td>
				    <td>840,00</td>
				    <td>840,00</td>
			   </tr>
			   <tr>
			  	 	<td>28</td>
				    <td>Замена комнатного термостата/пульта управления</td>
				    <td>усл</td>
				    <td>от 750,00</td>
				    <td>от 750,00</td>
			   </tr>
			   <tr>
			  	 	<td>29</td>
				    <td>Замена трехходового клапана</td>
				    <td>усл</td>
				    <td>1 080,00</td>
				    <td>1 080,00</td>
			   </tr>
			   <tr>
			  	 	<td>30</td>
				    <td>Замена электронной платы управления</td>
				    <td>усл</td>
				    <td>1 080,00</td>
				    <td>1 080,00</td>
			   </tr>
			   <tr>
			  	 	<td>31</td>
				    <td>Замена автоматического воздухоотводчика</td>
				    <td>усл</td>
				    <td>от 750,00</td>
				    <td>от 750,00</td>
			   </tr>
			   <tr>
			  	 	<td>32</td>
				    <td>Перевод котла на сжиженный газ</td>
				    <td>усл</td>
				    <td>от 3000,00</td>
				    <td>от 3000,00</td>
			   </tr>
			   <tr>
			  	 	<td>33</td>
				    <td>Чистка напольного котла с атмосферной горелкой до 30 кВт</td>
				    <td>усл</td>
				    <td>от 2000,00</td>
				    <td>от 2000,00</td>
			   </tr>
			   <tr>
			  	 	<td>34</td>
				    <td>Настройка газового клапана</td>
				    <td>усл</td>
				    <td>1 020,00</td>
				    <td>1 020,00</td>
			   </tr>
			   <tr>
			  	 	<td>35</td>
				    <td>Ревизия расширительного бака (проверка давления)</td>
				    <td>усл</td>
				    <td>840,00</td>
				    <td>840,00</td>
			   </tr>
			   <tr>
			  	 	<td>36</td>
				    <td>Чистка вентилятора</td>
				    <td>усл</td>
				    <td>960,00</td>
				    <td>960,00</td>
			   </tr>
			   <tr>
			  	 	<td>37</td>
				    <td>Установка дымоотводящего патрубка </td>
				    <td>усл</td>
				    <td>от 600,00</td>
				    <td>от 600,00</td>
			   </tr>
			   <tr>
			  	 	<td></td>
				    <td class="work">Пуско-наладка газовых котлов и колонок</td>
				    <td></td>
				    <td></td>
				    <td></td>
			   </tr>
			   <tr>
			  	 	<td>1</td>
				    <td>Пуско-наладка настенного котла</td>
				    <td>усл</td>
				    <td>1500,0</td>
				    <td>1500,0</td>
			   </tr>
			   <tr>
			  	 	<td>2</td>
				    <td>Пуско-наладка напольного котла</td>
				    <td>усл</td>
				    <td>500,0</td>
				    <td>500,0</td>
			   </tr>
			   <tr>
			  	 	<td></td>
				    <td class="work">Ремонт ВПГ</td>
				    <td></td>
				    <td></td>
				    <td></td>
			   </tr>
			   <tr>
			  	 	<td>1</td>
				    <td>Подключение циркуляционного насоса к котлу (за 1 шт)</td>
				    <td>усл</td>
				    <td>1 000,00</td>
				    <td>1 000,00</td>
			   </tr>
			   <tr>
			  	 	<td>2</td>
				    <td>Монтаж газовой колонки</td>
				    <td>усл</td>
				    <td>от 1000,00</td>
				    <td>от 1000,00</td>
			   </tr>
			   <tr>
			  	 	<td>3</td>
				    <td>Пуско-наладка настенного котла</td>
				    <td>усл</td>
				    <td>от 1000,00</td>
				    <td>от 1000,00</td>
			   </tr>
			   <tr>
			  	 	<td>4</td>
				    <td>Замена мембраны</td>
				    <td>усл</td>
				    <td>900,00</td>
				    <td>900,00</td>
			   </tr>
			   <tr>
			  	 	<td>5</td>
				    <td>Ремонт или замена водяной части</td>
				    <td>усл</td>
				    <td>1 500,00</td>
				    <td>1 500,00</td>
			   </tr>
			   <tr>
			  	 	<td>6</td>
				    <td>Замена теплообменника</td>
				    <td>усл</td>
				    <td>1 400,00</td>
				    <td>1 400,00</td>
			   </tr>
			   <tr>
			  	 	<td>7</td>
				    <td>Замена отводящих и подводящих трубок</td>
				    <td>усл</td>
				    <td>740,00</td>
				    <td>740,00</td>
			   </tr>
			   <tr>
			  	 	<td>8</td>
				    <td>Замена электромагнитного клапана</td>
				    <td>усл</td>
				    <td>770,00</td>
				    <td>770,00</td>
			   </tr>
			   <tr>
			  	 	<td>9</td>
				    <td>Замена датчика тяги</td>
				    <td>усл</td>
				    <td>500,00</td>
				    <td>500,00</td>
			   </tr>
			   <tr>
			  	 	<td>10</td>
				    <td>Пайка трубки теплообменника</td>
				    <td>усл</td>
				    <td>1 500,00</td>
				    <td>1 500,00</td>
			   </tr>
			   <tr>
			  	 	<td></td>
				    <td class="work">Ремон газовой плиты</td>
				    <td></td>
				    <td></td>
				    <td></td>
			   </tr>
			   <tr>
			  	 	<td>1</td>
				    <td>Подключение газовой плиты со снятием заглушки</td>
				    <td>усл</td>
				    <td>1 300,00</td>
				    <td>1 300,00</td>
			   </tr>
			   <tr>
			  	 	<td>2</td>
				    <td>Замена (или ремонт) газоподводящей трубки верхней горелки газовой плиты</td>
				    <td>усл</td>
				    <td>350,00</td>
				    <td>350,00</td>
			   </tr>
			   <tr>
			  	 	<td>3</td>
				    <td>Регулировка горения газа верхней горелки газовой плиты</td>
				    <td>усл</td>
				    <td>500,00</td>
				    <td>500,00</td>
			   </tr>
			   <tr>
			  	 	<td>4</td>
				    <td>Регулировка горения газа горелки духового шкафа газовой плиты</td>
				    <td>усл</td>
				    <td>600,00</td>
				    <td>600,00</td>
			   </tr>
			   <tr>
			  	 	<td>5</td>
				    <td>Чистка (замена) форсунки газовой плиты</td>
				    <td>усл</td>
				    <td>150,00</td>
				    <td>150,00</td>
			   </tr>
			   <tr>
			  	 	<td>6</td>
				    <td>Чистка горелки духового шкафа газовой плиты</td>
				    <td>усл</td>
				    <td>650,00</td>
				    <td>650,00</td>
			   </tr>
			   <tr>
			  	 	<td>7</td>
				    <td>Замена (или ремонт) крана газовой плиты</td>
				    <td>усл</td>
				    <td>400,00</td>
				    <td>400,00</td>
			   </tr>
			   <tr>
			  	 	<td>8</td>
				    <td>Замена (или ремонт) ручки газовой плиты</td>
				    <td>усл</td>
				    <td>110,00</td>
				    <td>110,00</td>
			   </tr>
			   <tr>
			  	 	<td>9</td>
				    <td>Смазка крана газовой плиты</td>
				    <td>усл</td>
				    <td>150,00</td>
				    <td>150,00</td>
			   </tr>
			   <tr>
			  	 	<td>10</td>
				    <td>Замена свечи электророзжига верхней горелки газовой плиты</td>
				    <td>усл</td>
				    <td>500,00</td>
				    <td>500,00</td>
			   </tr>
			   <tr>
			  	 	<td>11</td>
				    <td>Замена термопары</td>
				    <td>усл</td>
				    <td>500,00</td>
				    <td>500,00</td>
			   </tr>
			   <tr>
			  	 	<td>12</td>
				    <td>Замена блока розжига</td>
				    <td>усл</td>
				    <td>500,00</td>
				    <td>500,00</td>
			   </tr>
			   <tr>
			  	 	<td></td>
				    <td class="work">Прочие работы</td>
				    <td></td>
				    <td></td>
				    <td></td>
			   </tr>
			   <tr>
			  	 	<td>1</td>
				    <td>Замена газового крана на газопроводе диаметром до 32 мм</td>
				    <td>шт</td>
				    <td>565,00</td>
				    <td>475,00</td>
			   </tr>
			   <tr>
			  	 	<td>2</td>
				    <td>Замена газового крана на газопроводе диаметром 40-50 мм</td>
				    <td>шт</td>
				    <td>890,00</td>
				    <td>745,00</td>
			   </tr>
			   <tr>
			  	 	<td>3</td>
				    <td>Снятие сгона внутреннего газопровода диаметром до 25 мм</td>
				    <td>шт</td>
				    <td>590,00</td>
				    <td>495,00</td>
			   </tr>
			   <tr>
			  	 	<td>4</td>
				    <td>Снятие сгона внутреннего газопровода диаметром до 25 мм при работе с приставной лестницей</td>
				    <td>шт</td>
				    <td>705,00</td>
				    <td>595,00</td>
			   </tr>
			   <tr>
			  	 	<td>5</td>
				    <td>Замена сгона внутреннего газопровода диаметром свыше 25 мм</td>
				    <td>шт</td>
				    <td>815,00</td>
				    <td>685,00</td>
			   </tr>
			   <tr>
			  	 	<td>6</td>
				    <td>Замена сгона внутреннего газопровода диаметром свыше 25 мм при работе с приставной лестницей</td>
				    <td>шт</td>
				    <td>975,00</td>
				    <td>820,00</td>
			   </tr>
			   <tr>
			  	 	<td>7</td>
				    <td>Устранение утечки газа в муфтовом соединении внутреннего газопровода диамтром до 50 мм</td>
				    <td>шт</td>
				    <td>405,00</td>
				    <td>340,00</td>
			   </tr>
			   <tr>
			  	 	<td>8</td>
				    <td>Устранение утечки газа в муфтовом соединении внутреннего газопровода диамтром до 50 мм с приставной лестницей</td>
				    <td>шт</td>
				    <td>490,00</td>
				    <td>410,00</td>
			   </tr>
			   <tr>
			  	 	<td>9</td>
				    <td>Продувка и пуск газа во внутренний газопровод административного общественного здания непроизводственного назначения после отключения от газоснабжения</td>
				    <td>шт</td>
				    <td>315,00</td>
				    <td>-</td>
			   </tr>
			   <tr>
			  	 	<td>10</td>
				    <td>Продувка и пуск газа во внутренний газопровод административного общественного здания непроизводственного назначения после отключения от газоснабжения с приставной лестницей</td>
				    <td>шт</td>
				    <td>375,00</td>
				    <td>-</td>
			   </tr>
			   <tr>
			  	 	<td>11</td>
				    <td>Продувка и пуск дворового (подземного, надземного) газопровода к жилому дому после отключения от газоснабжения</td>
				    <td>шт</td>
				    <td>205,00</td>
				    <td>-</td>
			   </tr>
			   <tr>
			  	 	<td>12</td>
				    <td>Продувка и пуск дворового (подземного, надземного) газопровода к жилому дому после отключения от газоснабжения с приставной лестницей </td>
				    <td>шт</td>
				    <td>250,00</td>
				    <td>210,00</td>
			   </tr>
			   <tr>
			  	 	<td>13</td>
				    <td>Продувка и пуск внутреннего газопровода в жилом доме индивид. Застройки после отключения от газоснабжения</td>
				    <td>шт</td>
				    <td>155,00</td>
				    <td>130,00</td>
			   </tr>
			   <tr>
			  	 	<td>14</td>
				    <td>Продувка и пуск внутреннего газопровода в жилом доме индивид. Застройки после отключения от газоснабжения с приставной лестницей</td>
				    <td>шт</td>
				    <td>190,00</td>
				    <td>160,00</td>
			   </tr>
			   <tr>
			  	 	<td>15</td>
				    <td>Продувка и пуск внутреннего в многоквартирном жилом доме после отключения от газоснабжения при количестве приборов на одном стояке до 5</td>
				    <td>шт</td>
				    <td>405,00</td>
				    <td>340,00</td>
			   </tr>
			   <tr>
			  	 	<td>16</td>
				    <td>Продувка и пуск внутреннего в многоквартирном жилом доме после отключения от газоснабжения при количестве приборов на одном стояке свыше 5</td>
				    <td>шт</td>
				    <td>650,00</td>
				    <td>545,00</td>
			   </tr>
			   <tr>
			  	 	<td>17</td>
				    <td>Отключение и подключение газового прибора без отсоединения</td>
				    <td>шт</td>
				    <td>125,00</td>
				    <td>105,00</td>
			   </tr>
			   <tr>
			  	 	<td>18</td>
				    <td>Притирка газового крана диаметром до 15 мм</td>
				    <td>шт</td>
				    <td>915,00</td>
				    <td>765,00</td>
			   </tr>
			   <tr>
			  	 	<td>19</td>
				    <td>Притирка газового крана диаметром до 25-40 мм</td>
				    <td>шт</td>
				    <td>1 055,00</td>
				    <td>890,00</td>
			   </tr>
			   <tr>
			  	 	<td>20</td>
				    <td>Притирка газового крана диаметром 50 мм</td>
				    <td>шт</td>
				    <td>1 155,00</td>
				    <td>970,00</td>
			   </tr>
			   <tr>
			  	 	<td>21</td>
				    <td>Смазка газового крана диаметром до 15 мм</td>
				    <td>шт</td>
				    <td>105,00</td>
				    <td>90,00</td>
			   </tr>
			   <tr>
			  	 	<td>22</td>
				    <td>Смазка газового крана диаметром до 25-40 мм</td>
				    <td>шт</td>
				    <td>140,00</td>
				    <td>115,00</td>
			   </tr>
			   <tr>
			  	 	<td>23</td>
				    <td>Смазка газового крана диаметром 50 мм</td>
				    <td>шт</td>
				    <td>190,00</td>
				    <td>160,00</td>
			   </tr>
			   <tr>
			  	 	<td>24</td>
				    <td>Обследование газового прибора на его пригодность к эксплуатации</td>
				    <td>шт</td>
				    <td>315,00</td>
				    <td>265,00</td>
			   </tr>
			   <tr>
			  	 	<td>25</td>
				    <td>Оповещение и отключение жилых домов на период ремонтных работ</td>
				    <td>шт</td>
				    <td>200,00</td>
				    <td>170,00</td>
			   </tr>
			   <tr>
			  	 	<td>26</td>
				    <td>Отключение домовладения от природного газа по заявлению клиента</td>
				    <td>шт</td>
				    <td>300,00</td>
				    <td>255,00</td>
			   </tr>
			   <tr>
			  	 	<td>27</td>
				    <td>Замена клапана-отсекателя без применения сварочных работ</td>
				    <td>шт</td>
				    <td>2 725,00</td>
				    <td>2 290,00</td>
			   </tr>
			</table>
		</div>
	</div>
	<footer class="footer">
        <div class="left-block">
            <p>© 2021 Горгаз сервис АТК</p>
            <p>Все права защищены</p>
        </div>
        <div class="center-block">
            <a href="#"><p>Главная</p></a>
            <a href="#"><p>Контакты</p></a>
            <a href="#"><p>Покрытие</p></a>
            <a href="#"><p>Наши услуги</p></a>
        </div>  
        <div class="right-block">
            <p>оказание услуг по техническому обслуживанию газового оборудования</p>
        </div>
    </footer>
</body>
</html>