<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/price.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap" rel="stylesheet"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="../images/logo.svg" type="image/png">
    <meta name="description" content="Обслуживание газового оборудования. Установка газовых котлов. Горгаз Красноперекопск.">
	<title>Цены</title>
</head>
<body>
	<div class="header">
        <div class="header__container">
            <div class="header__cities">
                <div class="logo">
                    <a href="../index.html">
                        <h1>«ОП ООО "АТК" Участок ТО ЭРГО»</h1>
                    </a>
                </div>
                <span class="header__cities-list"> г. Красноперекопск, Красноперекопский район, г. Армянск, Первомайский район, Раздольненский район
                </span>
            </div>
            <ul class="menu-list">
                <a href="../index.html">
                    <li class="main">
                        Главная
                    </li>
                </a>
                <a href="contacts.html">
                    <li class="contacts">
                        Контакты
                    </li>
                </a>
                <a href="documents.html">
                    <li class="documents">
                        Приложения
                    </li>
                </a>
                <a href="price.html">
                    <li class="price">
                        Цены
                    </li>
                </a>
            </ul>
        </div>
        <div class="burger">
            <div class="pod-before"></div>
            <div class="pod"></div>
            <div class="pod-after"></div>
            <ul class="menu-burger">
                <a href="../index.html">
                    <li>
                        Главная
                    </li>
                </a>
                <a href="contacts.html">
                    <li>
                        Контакты
                    </li>
                </a>
                <a href="documents.html">
                    <li>
                        Приложения
                    </li>
                </a>
                <a href ="price.html">
                    <li>
                        Цены
                    </li>
                </a>
            </ul>
        </div>
    </div>
	<div class="content-page">
		<div class="text-price">
			<p>*<u>Цены</u> на оказание услуг по <u>ремонту и сервисному</u> обслуживанию газового оборудования</p>
			<p>*При осуществлении услуг по техническому обслуживанию газового оборудования предоставляются следующие <u>скидки и льготы</u> для физических лиц:</p>
			<div class="sale">
				<h3>
					Ветеранам ВОВ – услуги предоставляются бесплатно.
				</h3>
				<h3>
					Пенсионерам – скидка 10% на техническое обслуживание.
				</h3>
				<h3>
					Инвалидам детства – скидка 10% на техническое обслуживание.
				</h3>
			</div>
			<div class="content-page__price-images-container">
				<img src="../images/price1.jpg" alt="Прайс" class="content-page__price-img-1 content-page__price-img"></img>
				<img src="../images/price2.jpg" alt="Прайс" class="content-page__price-img-2 content-page__price-img"></img>
				<img src="../images/price3.jpg" alt="Прайс" class="content-page__price-img-3 content-page__price-img"></img>
				<img src="../images/price4.jpg" alt="Прайс" class="content-page__price-img-4 content-page__price-img"></img>
				<img src="../images/price5.jpg" alt="Прайс" class="content-page__price-img-5 content-page__price-img"></img>
			</div>
		</div>
	</div>
	<footer class="footer">
        <div class="left-block">
            <p>© 2021 Горгаз сервис АТК</p>
            <p>Все права защищены</p>
        </div>
        <div class="center-block">
            <a href="../index.html"><p>Главная</p></a>
            <a href="contacts.html"><p>Контакты</p></a>
            <a href="#"><p>Покрытие</p></a>
            <a href="#"><p>Наши услуги</p></a>
        </div>  
        <div class="right-block">
            <p>оказание услуг по техническому обслуживанию газового оборудования</p>
        </div>
    </footer>
     <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>